{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "import/no-unresolved": "off",
    "semi": 0,
    "arrow-body-style": ["error", "always"],
    "class-methods-use-this": [2, {
      "exceptMethods": [
        "render",
        "getInitialState",
        "getDefaultProps",
        "getChildContext",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount"
      ]
    }]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb-base"]
}
