.post {
  position: relative;
  margin-bottom: 70px;
  padding-bottom: 30px;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 40%;
    border-bottom: 1px solid #dddddd;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &__header {
    &-title {
      font-family: 'Roboto Slab', serif;
      color: #222222;
      font-size: 30px;
      letter-spacing: 1px;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 0;
      margin-bottom: 5px;
      line-height: 1.4em;
      @media (max-width: 768px) {
        font-size: 21px;
      }
      a {
        background-color: $gray;
        outline: none;
        color: inherit;
        text-decoration: none;
      }
    }
    &-details {
      font-size: 12px;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 10px;
      a {
        display: inline-block;
        color: $borders;
        margin-right: 15px;
        transition: color .4s;
        &:hover {
          color: $primary;
        }
        &[href] {
          cursor: pointer;
        }
      }
      &-category {
        margin-right: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
        font-size: 9px;
        cursor: default;
        a {
          border-radius: 4px;
          padding-left: 10px;
          padding-right: 10px;
          line-height: 22px;
          border: 1px solid $borders;
        }
      }
      &-date {
        cursor: default;
        span {
          border-bottom: 1px dashed;
        }
      }
    }
    &-social {
      margin-top: 5px;
      text-align: center;
      &-views {
        cursor: default;
      }
      &-likes {
        cursor: pointer;
        &.active {
          color: #000;
          cursor: default;
        }
      }
    }
  }
  &__description {
    margin-top: 20px;
    text-align: justify;
    p {
      text-align: justify;
    }
  }
  &__more {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 30px;
    line-height: 1.4em;
    a {
      font-family: 'Roboto Slab', serif;
      background-color: $gray;
      color: $primary;
      text-decoration: none;
      outline: none;
    }
  }
  &_compact {
    margin-bottom: 30px;
    &:after {
      display: none;
    }
    .post__media {
      width: 140px;
      height: 140px;
      float: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    .post__content {
      margin-left: 140px;
      padding-left: 20px;
      min-height: 140px;
    }
    .post__header-title {
      font-size: 16px;
      text-align: left;
      padding-top: 5px;
      padding-left: 0;
    }
    .post__header-details {
      text-align: left;
      margin-bottom: 10px;
    }
    .post__header-social {
      text-align: left;
    }
    .post__more {
      display: none;
    }
    .post__description {
      margin-top: 0;
    }
  }
}

.post-detail {
  margin-bottom: 20px;
  &__title {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.4em;
    color: $primary;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    span {
      background-color: $gray;
    }
  }
  &__details {
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    a {
      display: inline-block;
      color: $borders;
      margin-right: 15px;
      transition: color .4s;
      &:hover {
        color: $primary;
      }
      &[href] {
        cursor: pointer;
      }
    }
  }
  &__content {
    margin-top: 20px;
    p {
      text-align: justify;
    }
  }
}
